<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add key="Server" value="localhost"/>
	<add key="Instance" value="SqlExpress"/>
	<add key="Database" value="MyShop"/>
	<add key="Username" value="admin"/>
	<add key="Password" value="qwe3@1"/>
	<add key="Entropy" value="qwe3@1"/>
</configuration>