<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="localhost"/>
		<add key="Instance" value="SqlExpress"/>
		<add key="Database" value="PremiumPhoneShop"/>
		<add key="Username" value="admin"/>
		<add key="Password" value="qwe3@1"/>
		<add key="Entropy" value="qwe3@1"/>
		<add key="LastWindow" value="MainWindow"/>
		<add key="NumberProductPerPage" value="10"/>
		<add key="OpenLastWindow" value="1"/>
	</appSettings>
</configuration>